

h2[title="baslik2"] {

    color: darkgoldenrod;
    text-align: center;
    font-size: 30px;
    text-shadow: 15px;
}

p[title="paragraf2"]
{ 
    color: cyan;
    text-align: start;
    font-size: 15px;

}
a[target="_blank"] {
    color: red


    
}
 input[type="text"]{

    background-color: chartreuse;
 }




