@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    height: 945px;
  }

}

@media screen and (min-width: 992px) {
  /* header{
width: 1024px;
height: 647px;
} */
}

@media screen and (min-width: 768px) {}



@media screen and (min-width: 320px) {}